*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box{
    background-color:fuchsia;
    border:3px solid rgb(47, 30, 9);
    height:30vh;
    width:30vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:100px auto; 
}
.box:hover{
    background-color: aqua;
    color:blue;
    transform: skew(60deg);
    scale:1.2;
    border:none;
    /* transform: scale(2); */
    /* transform: scale(0.5); */
    /* transform: skew(-45deg); */
    /* transform: rotate(30deg);
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 2s;
    transition-timing-function: linear; */
}
p{
    font-size: 40px;
}