*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}
.box{
    height: 80px;
    width:80px;
    border-radius: 50%;
    border:3px solid rgb(155, 38, 38);
    background: linear-gradient(red,yellow,blue,violet);
}
.box img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
