*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
img{
    height: 250px;
    width: 250px;
    filter: drop-shadow(10px 20px 10px rgb(91, 91, 64));
}